<nav class="navbar navbar-expand-lg navbar-light justify-content-between" style="background-color: #9fcdff;">
    <a class="navbar-brand" href="{% url 'webapp:article_list' %}">Втентакли</a>
    <li class="nav-item"><a href="{% url 'webapp:article_list' %}" class="nav-link">Список статей</a></li>
    <li class="nav-item"><a href="{% url 'webapp:user_list' %}" class="nav-link">Список пользователей</a></li>
    {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'webapp:article_create' %}" class="nav-link">Добавить статью</a></li>
        <li class="nav-item navbar-text">Привет, <a href="{% url 'webapp:user_office' user.pk %}">{{ user.username }}</a>!</li>
        <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="nav-link">Выход</a></li>
        {% block menu %}{% endblock %}
    {% else %}
        <li class="nav-item"><a href="{% url 'accounts:login' %}" class="nav-link">Вход</a></li>
    {% endif %}
</nav>
